{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

  <div class="parallax">
    <div class="par-content">
      <h1 style="text-align: center; font-size: 60px;"> <span style="color: rgb(255, 51, 0);">Unity</span> <span style="color: royalblue;">BI®</span></h1>
      <h3 style="text-align: center; font-size: 40px; color: royalblue;">Advanced healthcare made personal</h3>
      <div class='icon-scroll'></div>
    </div>
  </div>
<div class="section1 " id="section1">

  <h4>We are an Ultimate Hospital Management System That Comes equipped
    with Business Intelligence to aid streamline business flow in an health
    Care Setting.Unity Bi comes along with a complete data integration platform to handle all your data preparation
    challenges.</h4>
  <img width="60%" src="https://ucarecdn.com/3ccfe8c7-c1b7-4585-b18f-967587dbcc9a/UBi.jpg" alt="pic">
</div>
<div class="parallax2"></div>
<div class="section2 " style="height:auto; padding: 30px;">
  <h1 style="text-align: center; margin-bottom: 40px; "><u>
    Why <span style="color: rgb(255, 51, 0);">Unity</span> <span style="color: royalblue;">BI®</span> <span style="font-size: 20px;"></span></u>
  </h1>
  <div class="container">
    <div class="row" id="row">

      <div class="col-md-4">
        <div class="card" id="card-info">
          <div class="card-header ">
            Focus on patient
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>We focus on the Doctor, patient relationship,
                connectivity and a seamless end-user experience,Our full focus
                is on the patient doctor relationship</p>
              <!-- <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer> -->
            </blockquote>
          </div>
        </div>

      </div>
      <div class="col-md-4">
        <div class="card" id="card-info">
          <div class="card-header">
            Data to Information
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>Helath care organisations are accumulating data so fast.
                We process this big data to shareable,easy to read information to the stakeholders.

              </p>
              <!-- <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer> -->
            </blockquote>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" id="card-info">
          <div class="card-header">
            Healthcare made personal
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>UnityBI® will help hospitals implement remote
                patient monitoring, advanced analytics, and wearables to
                engage more with patients for improved quality.
              </p>
              <!-- <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer> -->
            </blockquote>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
<div class="parallax3"></div>

{%  endblock %}